@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lobster&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background: #000;
  font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar{
  display: none;
}